*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #fffde2;
  color: #0f1108;
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  line-height: 1.5;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.img-container {
  margin: 0 auto;
  padding-top: 5em;
  padding-bottom: 3em;
  width: 17rem;
}

img {
  display: block;
  max-width: 100%;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin: 0;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 2.2rem;
  text-align: center;
}

span {
  color: #bf00ff;
  font-style: italic;
  text-shadow: 1px 1px black;
}

p {
  font-size: 1.1rem;
  margin-bottom: 2em;
  color: gray;
 
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

input {
  width: 100%;
  font-size: 1.1rem;
  font-weight: 400;
  background-color: #fffde2;
  border: 1px solid #0f110820;
  border-radius: 10px;
  margin-bottom: 1.2em;
  padding: 1em 1em;
}

input::placeholder {
    opacity: 0.7;
}

button {
  width: 100%;

  font-size: 1.7rem;
  font-weight: 400;
  background-color: #0f1108;
  color: #fffde2;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 1em;
  margin-bottom: 2em;
  padding: 0.6em 0.6em;
  transition: transform 200ms ease-in-out;
}

button:hover,
button:focus {
transform: scale(1.1);
}

@media (min-width: 800px) {

   .container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;

}

.img-container {
    width: 100%;
    order: 2;
}

main {
    height: 100%;
    background-color: #0f1108;
    padding: 8em 6em;
}

h1 {
    color: #fffde2;
    font-weight: 700;
}

span {
    text-shadow: 2px 0 white;
}

input {
    margin-top: 1em;
        font-size: 1.2rem;
}

button {
    font-size: 2rem;
    background-color: #bf00ff;
    color: #0f1108;
    margin-top: 2em;
}
   }